.filter
  width: 320px
  padding: 70px 60px
  &__item
    margin: 0
    padding: 0
    border: none

  &__item legend
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 18px
    line-height: 24px
    font-weight: 700

  &__range
    width: 200px
    margin-top: 20px

  &__range-controls
    position: relative
    padding: 11px 0
    outline: 2px solid blue

  &__scale
    width: 200px
    height: 2px
    background-color: #dbdbdb

  &__bar
    width: 70%
    height: 2px
    background-color: #91c92f

  &__toggle
    position: absolute
    left: 0
    top: 3px
    width: 6px
    height: 6px
    padding: 0
    //border: 8px solid #ffffff
    border: 8px solid red
    background-color: #ababab
    box-shadow: 0 2px 1px 0 #cfcfcf
    border-radius: 50%
    cursor: pointer

    &--max
      left: 70%

  &__price-controls
    display: flex
    justify-content: space-between

  &__price-controls label
    width: 50%
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 14px
    line-height: 24px
    font-weight: 300
    color: #dbdbdb

  &__price-controls input
    width: 60px
    padding: 8px
    border: none
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 14px
    line-height: 24px
    font-weight: 300
    color: #dbdbdb
    text-align: left





