.slider
  margin-top: -5px
  margin-bottom: 23px
  background-color: #ffffff


  &__inner
    position: relative
    padding: 0 60px
    background-image: linear-gradient($header-color 21.5%, #ffffff 21.5%)

  &__inner input[type=radio]
    position: absolute
    display: none


  &__controls
    @include flex
    position: absolute
    z-index: 100
    text-align: center
    right: 82px
    bottom: 198px
    width: 80px
    outline: 2px solid brown

  &__control
    font-size: 0
    width: 3px
    height: 3px
    border: 1px solid  $footer-color
    border-radius: 50%
    cursor: pointer
    padding: 5px

  &__item
    display: none
    width: 100%


  &__info
    position: relative
    width: 500px
    padding: 60px 0
    margin-left: auto


    &::before
      position: absolute
      content: ''
      width: 100px
      height: 10px
      left: 0
      top: 40px
      background-color: #ffffff


  &__number
    position: absolute
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 179px
    line-height: 179px
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
    right: -10px
    top: -10px

  &__title
    position: relative
    margin: 0
    padding: 25px 0 20px
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 47px
    line-height: 56px
    font-weight: 700
    letter-spacing: 0.4px

  &__description
    margin: 0
    margin-bottom: 43px
    font-weight: 300
    letter-spacing: 0.22px

  &__link
    display: block
    width: 220px
    background-color: transparent
    letter-spacing: 3px
    margin-bottom: 50px

  &__parameters
    width: 430px
    @include flex

  &__parameter span
    display: block
    font-family: 'Gilroy', 'Arial', sans-serif
    font-size: 36px
    line-height: 48px
    font-weight: 300
    letter-spacing: 0.5px
    margin-bottom: 7px

  &__parameter p
    font-family: 'Open Sans', 'Arial', sans-serif
    font-size: 13px
    line-height: 20px
    font-weight: 300
    letter-spacing: 0.25px

.slider__item:nth-child(1)
  background-image: url("../img/slider-1.png")
  background-repeat: no-repeat
  background-position: 4.5% 10%

.slider__item:nth-child(2)
  background-image: url("../img/slider-2.png")
  background-repeat: no-repeat
  background-position: 10% 0

.slider__item:nth-child(3)
  background-image: url("../img/slider-3.png")
  background-repeat: no-repeat
  background-position: 0 35%

#slide-1:checked ~ .slider__controls label[for="slide-1"],
#slide-2:checked ~ .slider__controls label[for="slide-2"],
#slide-3:checked ~ .slider__controls label[for="slide-3"]
  position: relative
  &::before
    content: ""
    position: absolute
    top: 2px
    left: 2px
    z-index: 1
    width: 5px
    height: 5px
    border: 1px solid $footer-color
    border-radius: 50%
    background-color: #ffffff


  //border: 2px solid red
  //background: yellow



#slide-1:checked ~ .slider__list .slider__item:nth-child(1)
  display: block

#slide-2:checked ~ .slider__list .slider__item:nth-child(2)
  display: block

#slide-3:checked ~ .slider__list .slider__item:nth-child(3)
  display: block


    /*&--active








